<!DOCTYPE html>
<html>
<head>
    <title>Excel操作首页</title>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/reset.css'>
<link rel = 'stylesheet' type = 'text/css' href = '__ROOT__/Public/Css/ScreenData.css'>
<script src = '__ROOT__/Public/Js/excel.js' type = 'text/javascript' charset = 'utf-8'></script>
</head> 
<body>
    <include file = 'Public/Html/head.html' />

    <!-- 筛选数据 -->
    <div class = 'ExcelFather' id = 'ScreenData'>
       sssssssss
    </div>

    <include file = 'Public/Html/foot.html' />
</body>
</html>